<a href="https://colab.research.google.com/github/kuma-gif/CSD2301/blob/main/%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%97%E0%B8%9A%E0%B8%97%E0%B8%A7%E0%B8%99%E0%B8%81%E0%B9%88%E0%B8%AD%E0%B8%99%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
numeric1 = 5
print(numeric1)
print(type(numeric1))

5
<class 'int'>

In [8]:
numeric2 = -3
print(numeric2)
print(type(numeric2))

-3
<class 'int'>

In [ ]:
numeric3 = 0
print(numeric3)
print(type(numeric3))

In [ ]:
numeric4 = int(input('Please insert integer: '))
print(numeric4)
print(type(numeric4))

In [ ]:
numeric1 = 5.0
print(numeric1)
print(type(numeric1))

In [ ]:
numeric2 = -3.1
print(numeric2)
print(type(numeric2))

In [ ]:
numeric3 = 0.0
print(numeric3)
print(type(numeric3))

In [14]:
numeric4 = float(input('Please insert floating number: '))
print(numeric4)
print(type(numeric4))

Please insert floating number: 12
12.0
<class 'float'>

In [13]:
int1 = int(input('Please insert int1: '))
int2 = int(input('Please insert int2: '))
print('int1:', int1, type(int1))
print('int2:', int2, type(int2))
a = int1 + int2
print('sum:', a, type(a))
b = int1 - int2
print('difference:', b, type(b))
c = int1*int2
print('product:', c, type(c))

Please insert int1: 1
Please insert int2: 2
int1: 1 <class 'int'>
int2: 2 <class 'int'>
sum: 3 <class 'int'>
difference: -1 <class 'int'>
product: 2 <class 'int'>

In [25]:
int1 = int(input('Please insert int1: '))
float1 = float(input('Please insert float1: '))
print('int1:', int1, type(int1))
print('float1:', float1, type(float1))
a = int1 + float1
print('sum:', a, type(a))
b = int1 - float1
print('difference:', b, type(b))
c = int1*float1
print('product:', c, type(c))
d = int1/float1
print('quotient:', d, type(d))

Please insert int1: 2
Please insert float1: 1
int1: 2 <class 'int'>
float1: 1.0 <class 'float'>
sum: 3.0 <class 'float'>
difference: 1.0 <class 'float'>
product: 2.0 <class 'float'>
quotient: 2.0 <class 'float'>

In [15]:
float1 = float(input('Please insert float1: '))
float2 = float(input('Please insert float2: '))
print('float1:', float1, type(float1))
print('float2:', float2, type(float2))
a = float1 + float2
print('sum', a, type(a))
b = float1 - float2
print('difference', b, type(b))
c = float1*float2
print('product', c, type(c))
d = float1/float2
print('quotient', d, type(d))

Please insert float1: 5
Please insert float2: 6
float1: 5.0 <class 'float'>
float2: 6.0 <class 'float'>
sum 11.0 <class 'float'>
difference -1.0 <class 'float'>
product 30.0 <class 'float'>
quotient 0.8333333333333334 <class 'float'>

In [ ]:
int1 = int(input('Please insert int1: '))
float1 = float(input('Please insert float1: '))
print('int1:', int1, type(int1))
print('float1:', float1, type(float1))
a = int1 + float1
print('sum:', a, type(a))
b = int1 - float1
print('difference:', b, type(b))
c = int1*float1
print('product:', c, type(c))
d = int1/float1
print('quotient:', d, type(d))

In [ ]:
logic1 = True
print(logic1)
print(type(logic1))

In [27]:
logic2 = False
print(logic2)
print(type(logic2))

False
<class 'bool'>

In [28]:
logic1 = True
logic2 = False
print((logic1 and logic2))

False

In [29]:
logic1 = True
logic2 = False
print((logic1 or logic2))

True

In [30]:
complex1 = 1 + 2j
print(complex1)
print(type(complex1))

(1+2j)
<class 'complex'>

In [31]:
complex1 = 1 + 2j
print(complex1.real)

1.0

In [16]:
complex1 = 1 + 2j
print(complex1.imag)

2.0

In [32]:
string1 = 'Python'
print(string1)
print(type(string1))

Python
<class 'str'>

In [33]:
string1 = 'Python'
print(string1[0])

P

In [34]:
string1 = 'Python'
print(string1[1])

y

In [35]:
string1 = 'Python'
print(string1[-1])

n

In [36]:
string1 = 'Python'
print(string1[-2])

o

In [37]:
string1 = 'Python'
print(string1[2])

t

In [38]:
string1 = 'Python'
print(string1[-4])

t

In [39]:
string1 = 'Python'
print(string1[-4:-1])

tho

In [40]:
string1 = 'Python'
print(string1[-6:5])

Pytho

In [41]:
string1 = 'Python'
print(string1[:5])

Pytho

In [42]:
string1 = 'Python'
print(string1[1:4])

yth

In [49]:
sentence = input('Please insert sentence: ')
print(sentence.split(' '))

Please insert sentence: Hello World!
['Hello', 'World!']

In [45]:
string1 = input('Please insert string1: ')
string2 = string1.replace('a', 'A')
print(string2)

Please insert string1: saharat
sAhArAt

In [53]:
string1 = input('Please insert string1: ')
print(string1.replace('a', 'A'))

Please insert string1: intavira
intAvirA

In [52]:
string1 = input('Please insert string1: ')
print('a' in string1)

Please insert string1: somtui
False

In [54]:
str1 = input('Please insert str1: ')
str2 = input('Please insert str2: ')
print(str1 + str2)

Please insert str1: Saharat
Please insert str2: Intavira
SaharatIntavira

In [55]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1)
print(type(list1))

[0, 1, 2, 'a', 'b', 'c']
<class 'list'>

In [56]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2])

2

In [57]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:-1])

[1, 2, 'a', 'b']

In [58]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2:4])

[2, 'a']

In [59]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[-5:5])

[1, 2, 'a', 'b']

In [60]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[3] = 'duck'
print(list2)

['ant', 'bird', 'cat', 'duck', 'eagle']

In [61]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[-5] = 'ape'
print(list2)

['ape', 'bird', 'cat', 'dog', 'eagle']

In [ ]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2.append('fish')
print(list2)

In [ ]:
list2 = []
str1 = input('Please insert first element: ')
str2 = input('Please insert second element: ')
str3 = input('Please insert third element: ')
list2.append(str1)
list2.append(str2)
list2.append(str3)
print(list2)

In [ ]:
list3 = ['apple', 'banana', 'cherry', 'eggfruit']
list3.insert(-1, 'kiwi')
print(list3)

In [ ]:
list3 = ['apple', 'cherry', 'eggfruit']
list3.insert(1, 'banana')
print(list3)

In [ ]:
list4 = [0, 4, 2, 3, 1]
list4.sort()
print(list4)

In [ ]:
list4 = [0, 4, 2, 3, 1]
list4.sort(reverse=True)
print(list4)

In [ ]:
list4 = [0, 4, 2, 3, 1]
sorted_list4 = sorted(list4)
print(sorted_list4)

In [ ]:
list1 = [1, 2, 3, 1, 2, 3]
list1.remove(1)
print(list1)

In [18]:
a = 0  # ตัวแปรเก็บจำนวนที่หารด้วย 3 ลงตัว

# วนลูปเช็คตัวเลขตั้งแต่ 1 ถึง 10000
for i in range(1, 10001):
  # ตรวจสอบว่าจำนวนนั้นหารด้วย 3 ลงตัวหรือไม่
  if i % 3 == 0:
    # เพิ่มจำนวนที่หารด้วย 3 ลงตัว
    a += 1

# แสดงผลลัพธ์
print("จำนวนที่หารด้วย 3 ลงตัวระหว่าง 1 ถึง 10000 มี", a, "จำนวน")

จำนวนที่หารด้วย 3 ลงตัวระหว่าง 1 ถึง 10000 มี 3333 จำนวน

In [19]:
a = 0  # ตัวแปรเก็บจำนวนที่หารด้วย 5 ลงตัว

# วนลูปเช็คตัวเลขตั้งแต่ 1 ถึง 10000
for i in range(1, 10001):
  # ตรวจสอบว่าจำนวนนั้นหารด้วย 5 ลงตัวหรือไม่
  if i % 5 == 0:
    # เพิ่มจำนวนที่หารด้วย 5 ลงตัว
    a += 1

# แสดงผลลัพธ์
print("จำนวนที่หารด้วย 5 ลงตัวระหว่าง 1 ถึง 10000 มี", a, "จำนวน")

จำนวนที่หารด้วย 5 ลงตัวระหว่าง 1 ถึง 10000 มี 2000 จำนวน

In [23]:
จำนวนหารด้วยสามห้า = 0  # ตัวแปรเก็บจำนวนที่หารด้วย 3 และ 5 ลงตัว

# วนลูปเช็คตัวเลขตั้งแต่ 1 ถึง 10000
for i in range(1, 10001):
  # ตรวจสอบว่าจำนวนนั้นหารด้วย 3 และ 5 ลงตัวหรือไม่
  if ( i % 3 == 0) and (i % 5 == 0): # Use 'i' instead of 'จำนวน' here
    # เพิ่มจำนวนที่หารด้วย 3 และ 5 ลงตัว
    จำนวนหารด้วยสามห้า += 1

# แสดงผลลัพธ์
print("จำนวนที่หารด้วย 3 และ 5 ลงตัวระหว่าง 1 ถึง 10000 มี", จำนวนหารด้วยสามห้า, "จำนวน")

จำนวนที่หารด้วย 3 และ 5 ลงตัวระหว่าง 1 ถึง 10000 มี 666 จำนวน